<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isoCode</key>
		<string>AF</string>
		<key>dialCode</key>
		<string>+93</string>
		<key>name_ar</key>
		<string>أفغانستان</string>
		<key>name_en</key>
		<string>Afghanistan</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>AL</string>
		<key>dialCode</key>
		<string>+355</string>
		<key>name_ar</key>
		<string>ألبانيا</string>
		<key>name_en</key>
		<string>Albania</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>DZ</string>
		<key>dialCode</key>
		<string>+213</string>
		<key>name_ar</key>
		<string>الجزائر</string>
		<key>name_en</key>
		<string>Algeria</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>WS</string>
		<key>dialCode</key>
		<string>+685</string>
		<key>name_ar</key>
		<string>ساموا-الأمريكي</string>
		<key>name_en</key>
		<string>Samoa</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>AD</string>
		<key>dialCode</key>
		<string>+376</string>
		<key>name_ar</key>
		<string>أندورا</string>
		<key>name_en</key>
		<string>AndorrA</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>AO</string>
		<key>dialCode</key>
		<string>+244</string>
		<key>name_ar</key>
		<string>أنغولا</string>
		<key>name_en</key>
		<string>Angola</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>AI</string>
		<key>dialCode</key>
		<string>+1 264</string>
		<key>name_ar</key>
		<string>أنغويلا</string>
		<key>name_en</key>
		<string>Anguilla</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>AQ</string>
		<key>dialCode</key>
		<string>null</string>
		<key>name_ar</key>
		<string>أنتاركتيكا</string>
		<key>name_en</key>
		<string>Antarctica</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>AG</string>
		<key>dialCode</key>
		<string>+1268</string>
		<key>name_ar</key>
		<string>أنتيغوا وبربودا</string>
		<key>name_en</key>
		<string>Antigua and Barbuda</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>AR</string>
		<key>dialCode</key>
		<string>+54</string>
		<key>name_ar</key>
		<string>الأرجنتين</string>
		<key>name_en</key>
		<string>Argentina</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>AM</string>
		<key>dialCode</key>
		<string>+374</string>
		<key>name_ar</key>
		<string>أرمينيا</string>
		<key>name_en</key>
		<string>Armenia</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>AW</string>
		<key>dialCode</key>
		<string>+297</string>
		<key>name_ar</key>
		<string>أروبه</string>
		<key>name_en</key>
		<string>Aruba</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>AU</string>
		<key>dialCode</key>
		<string>+61</string>
		<key>name_ar</key>
		<string>أستراليا</string>
		<key>name_en</key>
		<string>Australia</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>AT</string>
		<key>dialCode</key>
		<string>+43</string>
		<key>name_ar</key>
		<string>النمسا</string>
		<key>name_en</key>
		<string>Austria</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>AZ</string>
		<key>dialCode</key>
		<string>+994</string>
		<key>name_ar</key>
		<string>أذربيجان</string>
		<key>name_en</key>
		<string>Azerbaijan</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>BS</string>
		<key>dialCode</key>
		<string>+1 242</string>
		<key>name_ar</key>
		<string>الباهاماس</string>
		<key>name_en</key>
		<string>Bahamas</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>BH</string>
		<key>dialCode</key>
		<string>+973</string>
		<key>name_ar</key>
		<string>البحرين</string>
		<key>name_en</key>
		<string>Bahrain</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>BD</string>
		<key>dialCode</key>
		<string>+880</string>
		<key>name_ar</key>
		<string>بنغلاديش</string>
		<key>name_en</key>
		<string>Bangladesh</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>BB</string>
		<key>dialCode</key>
		<string>+1 246</string>
		<key>name_ar</key>
		<string>بربادوس</string>
		<key>name_en</key>
		<string>Barbados</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>BY</string>
		<key>dialCode</key>
		<string>+375</string>
		<key>name_ar</key>
		<string>روسيا البيضاء</string>
		<key>name_en</key>
		<string>Belarus</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>BE</string>
		<key>dialCode</key>
		<string>+32</string>
		<key>name_ar</key>
		<string>بلجيكا</string>
		<key>name_en</key>
		<string>Belgium</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>BZ</string>
		<key>dialCode</key>
		<string>+501</string>
		<key>name_ar</key>
		<string>بيليز</string>
		<key>name_en</key>
		<string>Belize</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>BJ</string>
		<key>dialCode</key>
		<string>+229</string>
		<key>name_ar</key>
		<string>بنين</string>
		<key>name_en</key>
		<string>Benin</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>BM</string>
		<key>dialCode</key>
		<string>+1 441</string>
		<key>name_ar</key>
		<string>جزر برمودا</string>
		<key>name_en</key>
		<string>Bermuda</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>BT</string>
		<key>dialCode</key>
		<string>+975</string>
		<key>name_ar</key>
		<string>بوتان</string>
		<key>name_en</key>
		<string>Bhutan</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>BO</string>
		<key>dialCode</key>
		<string>+591</string>
		<key>name_ar</key>
		<string>بوليفيا</string>
		<key>name_en</key>
		<string>Bolivia</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>BA</string>
		<key>dialCode</key>
		<string>+387</string>
		<key>name_ar</key>
		<string>البوسنة و الهرسك</string>
		<key>name_en</key>
		<string>Bosnia and Herzegovina</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>BW</string>
		<key>dialCode</key>
		<string>+267</string>
		<key>name_ar</key>
		<string>بوتسوانا</string>
		<key>name_en</key>
		<string>Botswana</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>BR</string>
		<key>dialCode</key>
		<string>+55</string>
		<key>name_ar</key>
		<string>البرازيل</string>
		<key>name_en</key>
		<string>Brazil</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>BN</string>
		<key>dialCode</key>
		<string>+673</string>
		<key>name_ar</key>
		<string>بروناي</string>
		<key>name_en</key>
		<string>Brunei Darussalam</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>BG</string>
		<key>dialCode</key>
		<string>+359</string>
		<key>name_ar</key>
		<string>بلغاريا</string>
		<key>name_en</key>
		<string>Bulgaria</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>BF</string>
		<key>dialCode</key>
		<string>+226</string>
		<key>name_ar</key>
		<string>بوركينا فاسو</string>
		<key>name_en</key>
		<string>Burkina Faso</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>BI</string>
		<key>dialCode</key>
		<string>+257</string>
		<key>name_ar</key>
		<string>بوروندي</string>
		<key>name_en</key>
		<string>Burundi</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>KH</string>
		<key>dialCode</key>
		<string>+855</string>
		<key>name_ar</key>
		<string>كمبوديا</string>
		<key>name_en</key>
		<string>Cambodia</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>CM</string>
		<key>dialCode</key>
		<string>+237</string>
		<key>name_ar</key>
		<string>كاميرون</string>
		<key>name_en</key>
		<string>Cameroon</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>CA</string>
		<key>dialCode</key>
		<string>+1</string>
		<key>name_ar</key>
		<string>كندا</string>
		<key>name_en</key>
		<string>Canada</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>CV</string>
		<key>dialCode</key>
		<string>+238</string>
		<key>name_ar</key>
		<string>الرأس الأخضر</string>
		<key>name_en</key>
		<string>Cape Verde</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>CF</string>
		<key>dialCode</key>
		<string>+236</string>
		<key>name_ar</key>
		<string>جمهورية أفريقيا الوسطى</string>
		<key>name_en</key>
		<string>Central African Republic</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>TD</string>
		<key>dialCode</key>
		<string>+235</string>
		<key>name_ar</key>
		<string>تشاد</string>
		<key>name_en</key>
		<string>Chad</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>CL</string>
		<key>dialCode</key>
		<string>+56</string>
		<key>name_ar</key>
		<string>شيلي</string>
		<key>name_en</key>
		<string>Chile</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>CN</string>
		<key>dialCode</key>
		<string>+86</string>
		<key>name_ar</key>
		<string>جمهورية الصين الشعبية</string>
		<key>name_en</key>
		<string>China</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>CO</string>
		<key>dialCode</key>
		<string>+57</string>
		<key>name_ar</key>
		<string>كولومبيا</string>
		<key>name_en</key>
		<string>Colombia</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>KM</string>
		<key>dialCode</key>
		<string>+269</string>
		<key>name_ar</key>
		<string>جزر القمر</string>
		<key>name_en</key>
		<string>Comoros</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>CD</string>
		<key>dialCode</key>
		<string>+243</string>
		<key>name_ar</key>
		<string>جمهورية الكونغو الديمقراطية</string>
		<key>name_en</key>
		<string>Congo, The Democratic Republic of the</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>CD</string>
		<key>dialCode</key>
		<string>+243</string>
		<key>name_ar</key>
		<string>جمهورية الكونغو</string>
		<key>name_en</key>
		<string>Congo, The Democratic Republic of the</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>CK</string>
		<key>dialCode</key>
		<string>+682</string>
		<key>name_ar</key>
		<string>جزر كوك</string>
		<key>name_en</key>
		<string>Cook Islands</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>CR</string>
		<key>dialCode</key>
		<string>+506</string>
		<key>name_ar</key>
		<string>كوستاريكا</string>
		<key>name_en</key>
		<string>Costa Rica</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>CI</string>
		<key>dialCode</key>
		<string>+225</string>
		<key>name_ar</key>
		<string>ساحل العاج</string>
		<key>name_en</key>
		<string>Cote D&apos;Ivoire</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>HR</string>
		<key>dialCode</key>
		<string>+385</string>
		<key>name_ar</key>
		<string>كرواتيا</string>
		<key>name_en</key>
		<string>Croatia</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>CU</string>
		<key>dialCode</key>
		<string>+53</string>
		<key>name_ar</key>
		<string>كوبا</string>
		<key>name_en</key>
		<string>Cuba</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>CY</string>
		<key>dialCode</key>
		<string>+537</string>
		<key>name_ar</key>
		<string>قبرص</string>
		<key>name_en</key>
		<string>Cyprus</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>CZ</string>
		<key>dialCode</key>
		<string>+420</string>
		<key>name_ar</key>
		<string>الجمهورية التشيكية</string>
		<key>name_en</key>
		<string>Czech Republic</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>DK</string>
		<key>dialCode</key>
		<string>+45</string>
		<key>name_ar</key>
		<string>الدانمارك</string>
		<key>name_en</key>
		<string>Denmark</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>DJ</string>
		<key>dialCode</key>
		<string>+253</string>
		<key>name_ar</key>
		<string>جيبوتي</string>
		<key>name_en</key>
		<string>Djibouti</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>DM</string>
		<key>dialCode</key>
		<string>+1 767</string>
		<key>name_ar</key>
		<string>دومينيكا</string>
		<key>name_en</key>
		<string>Dominica</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>DO</string>
		<key>dialCode</key>
		<string>+1 849</string>
		<key>name_ar</key>
		<string>الجمهورية الدومينيكية</string>
		<key>name_en</key>
		<string>Dominican Republic</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>TL</string>
		<key>dialCode</key>
		<string>+670</string>
		<key>name_ar</key>
		<string>تيمور الشرقية</string>
		<key>name_en</key>
		<string>Timor-Leste</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>EC</string>
		<key>dialCode</key>
		<string>+593</string>
		<key>name_ar</key>
		<string>إكوادور</string>
		<key>name_en</key>
		<string>Ecuador</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>EG</string>
		<key>dialCode</key>
		<string>+20</string>
		<key>name_ar</key>
		<string>مصر</string>
		<key>name_en</key>
		<string>Egypt</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>SV</string>
		<key>dialCode</key>
		<string>+503</string>
		<key>name_ar</key>
		<string>إلسلفادور</string>
		<key>name_en</key>
		<string>El Salvador</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>GQ</string>
		<key>dialCode</key>
		<string>+240</string>
		<key>name_ar</key>
		<string>غينيا الاستوائي</string>
		<key>name_en</key>
		<string>Equatorial Guinea</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>ER</string>
		<key>dialCode</key>
		<string>+291</string>
		<key>name_ar</key>
		<string>إريتريا</string>
		<key>name_en</key>
		<string>Eritrea</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>EE</string>
		<key>dialCode</key>
		<string>+372</string>
		<key>name_ar</key>
		<string>استونيا</string>
		<key>name_en</key>
		<string>Estonia</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>ET</string>
		<key>dialCode</key>
		<string>+251</string>
		<key>name_ar</key>
		<string>أثيوبيا</string>
		<key>name_en</key>
		<string>Ethiopia</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>FO</string>
		<key>dialCode</key>
		<string>+298</string>
		<key>name_ar</key>
		<string>جزر فارو</string>
		<key>name_en</key>
		<string>Faroe Islands</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>FJ</string>
		<key>dialCode</key>
		<string>+679</string>
		<key>name_ar</key>
		<string>فيجي</string>
		<key>name_en</key>
		<string>Fiji</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>FI</string>
		<key>dialCode</key>
		<string>+358</string>
		<key>name_ar</key>
		<string>فنلندا</string>
		<key>name_en</key>
		<string>Finland</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>FR</string>
		<key>dialCode</key>
		<string>+33</string>
		<key>name_ar</key>
		<string>فرنسا</string>
		<key>name_en</key>
		<string>France</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>GF</string>
		<key>dialCode</key>
		<string>+594</string>
		<key>name_ar</key>
		<string>غويانا الفرنسية</string>
		<key>name_en</key>
		<string>French Guiana</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>PF</string>
		<key>dialCode</key>
		<string>+689</string>
		<key>name_ar</key>
		<string>بولينيزيا الفرنسية</string>
		<key>name_en</key>
		<string>French Polynesia</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>GA</string>
		<key>dialCode</key>
		<string>+241</string>
		<key>name_ar</key>
		<string>الغابون</string>
		<key>name_en</key>
		<string>Gabon</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>GM</string>
		<key>dialCode</key>
		<string>+220</string>
		<key>name_ar</key>
		<string>غامبيا</string>
		<key>name_en</key>
		<string>Gambia</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>GE</string>
		<key>dialCode</key>
		<string>+995</string>
		<key>name_ar</key>
		<string>جورجيا</string>
		<key>name_en</key>
		<string>Georgia</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>DE</string>
		<key>dialCode</key>
		<string>+49</string>
		<key>name_ar</key>
		<string>ألمانيا</string>
		<key>name_en</key>
		<string>Germany</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>GH</string>
		<key>dialCode</key>
		<string>+233</string>
		<key>name_ar</key>
		<string>غانا</string>
		<key>name_en</key>
		<string>Ghana</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>GI</string>
		<key>dialCode</key>
		<string>+350</string>
		<key>name_ar</key>
		<string>جبل طارق</string>
		<key>name_en</key>
		<string>Gibraltar</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>GR</string>
		<key>dialCode</key>
		<string>+30</string>
		<key>name_ar</key>
		<string>اليونان</string>
		<key>name_en</key>
		<string>Greece</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>GL</string>
		<key>dialCode</key>
		<string>+299</string>
		<key>name_ar</key>
		<string>جرينلاند</string>
		<key>name_en</key>
		<string>Greenland</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>GD</string>
		<key>dialCode</key>
		<string>+1 473</string>
		<key>name_ar</key>
		<string>غرينادا</string>
		<key>name_en</key>
		<string>Grenada</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>GP</string>
		<key>dialCode</key>
		<string>+590</string>
		<key>name_ar</key>
		<string>جزر جوادلوب</string>
		<key>name_en</key>
		<string>Guadeloupe</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>GU</string>
		<key>dialCode</key>
		<string>+1 671</string>
		<key>name_ar</key>
		<string>جوام</string>
		<key>name_en</key>
		<string>Guam</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>GT</string>
		<key>dialCode</key>
		<string>+502</string>
		<key>name_ar</key>
		<string>غواتيمالا</string>
		<key>name_en</key>
		<string>Guatemala</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>PG</string>
		<key>dialCode</key>
		<string>+675</string>
		<key>name_ar</key>
		<string>غينيا</string>
		<key>name_en</key>
		<string>Papua New Guinea</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>GN</string>
		<key>dialCode</key>
		<string>+224</string>
		<key>name_ar</key>
		<string>غينيا-بيساو</string>
		<key>name_en</key>
		<string>Guinea</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>GY</string>
		<key>dialCode</key>
		<string>+595</string>
		<key>name_ar</key>
		<string>غيانا</string>
		<key>name_en</key>
		<string>Guyana</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>HT</string>
		<key>dialCode</key>
		<string>+509</string>
		<key>name_ar</key>
		<string>هايتي</string>
		<key>name_en</key>
		<string>Haiti</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>HN</string>
		<key>dialCode</key>
		<string>+504</string>
		<key>name_ar</key>
		<string>هندوراس</string>
		<key>name_en</key>
		<string>Honduras</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>HK</string>
		<key>dialCode</key>
		<string>+852</string>
		<key>name_ar</key>
		<string>هونغ كونغ</string>
		<key>name_en</key>
		<string>Hong Kong</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>HU</string>
		<key>dialCode</key>
		<string>+36</string>
		<key>name_ar</key>
		<string>المجر</string>
		<key>name_en</key>
		<string>Hungary</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>IS</string>
		<key>dialCode</key>
		<string>+354</string>
		<key>name_ar</key>
		<string>آيسلندا</string>
		<key>name_en</key>
		<string>Iceland</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>IO</string>
		<key>dialCode</key>
		<string>+246</string>
		<key>name_ar</key>
		<string>الهند</string>
		<key>name_en</key>
		<string>British Indian Ocean Territory</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>ID</string>
		<key>dialCode</key>
		<string>+62</string>
		<key>name_ar</key>
		<string>أندونيسيا</string>
		<key>name_en</key>
		<string>Indonesia</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>IR</string>
		<key>dialCode</key>
		<string>+98</string>
		<key>name_ar</key>
		<string>إيران</string>
		<key>name_en</key>
		<string>Iran, Islamic Republic Of</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>IQ</string>
		<key>dialCode</key>
		<string>+964</string>
		<key>name_ar</key>
		<string>العراق</string>
		<key>name_en</key>
		<string>Iraq</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>IE</string>
		<key>dialCode</key>
		<string>+353</string>
		<key>name_ar</key>
		<string>إيرلندا</string>
		<key>name_en</key>
		<string>Ireland</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>IT</string>
		<key>dialCode</key>
		<string>+39</string>
		<key>name_ar</key>
		<string>إيطاليا</string>
		<key>name_en</key>
		<string>Italy</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>JM</string>
		<key>dialCode</key>
		<string>+1 876</string>
		<key>name_ar</key>
		<string>جمايكا</string>
		<key>name_en</key>
		<string>Jamaica</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>JP</string>
		<key>dialCode</key>
		<string>+81</string>
		<key>name_ar</key>
		<string>اليابان</string>
		<key>name_en</key>
		<string>Japan</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>JO</string>
		<key>dialCode</key>
		<string>+962</string>
		<key>name_ar</key>
		<string>الأردن</string>
		<key>name_en</key>
		<string>Jordan</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>KZ</string>
		<key>dialCode</key>
		<string>+7 7</string>
		<key>name_ar</key>
		<string>كازاخستان</string>
		<key>name_en</key>
		<string>Kazakhstan</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>KE</string>
		<key>dialCode</key>
		<string>+254</string>
		<key>name_ar</key>
		<string>كينيا</string>
		<key>name_en</key>
		<string>Kenya</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>KI</string>
		<key>dialCode</key>
		<string>+686</string>
		<key>name_ar</key>
		<string>كيريباتي</string>
		<key>name_en</key>
		<string>Kiribati</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>KP</string>
		<key>dialCode</key>
		<string>+850</string>
		<key>name_ar</key>
		<string>كوريا الشمالية</string>
		<key>name_en</key>
		<string>Korea, Democratic People&apos;S Republic of</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>KR</string>
		<key>dialCode</key>
		<string>+82</string>
		<key>name_ar</key>
		<string>كوريا الجنوبية</string>
		<key>name_en</key>
		<string>Korea, Republic of</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>KW</string>
		<key>dialCode</key>
		<string>+965</string>
		<key>name_ar</key>
		<string>الكويت</string>
		<key>name_en</key>
		<string>Kuwait</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>KG</string>
		<key>dialCode</key>
		<string>+996</string>
		<key>name_ar</key>
		<string>قيرغيزستان</string>
		<key>name_en</key>
		<string>Kyrgyzstan</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>LA</string>
		<key>dialCode</key>
		<string>+856</string>
		<key>name_ar</key>
		<string>لاوس</string>
		<key>name_en</key>
		<string>Lao People&apos;S Democratic Republic</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>LV</string>
		<key>dialCode</key>
		<string>+371</string>
		<key>name_ar</key>
		<string>لاتفيا</string>
		<key>name_en</key>
		<string>Latvia</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>LB</string>
		<key>dialCode</key>
		<string>+961</string>
		<key>name_ar</key>
		<string>لبنان</string>
		<key>name_en</key>
		<string>Lebanon</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>LS</string>
		<key>dialCode</key>
		<string>+266</string>
		<key>name_ar</key>
		<string>ليسوتو</string>
		<key>name_en</key>
		<string>Lesotho</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>LR</string>
		<key>dialCode</key>
		<string>+231</string>
		<key>name_ar</key>
		<string>ليبيريا</string>
		<key>name_en</key>
		<string>Liberia</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>LY</string>
		<key>dialCode</key>
		<string>+218</string>
		<key>name_ar</key>
		<string>ليبيا</string>
		<key>name_en</key>
		<string>Libyan Arab Jamahiriya</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>LI</string>
		<key>dialCode</key>
		<string>+423</string>
		<key>name_ar</key>
		<string>ليختنشتين</string>
		<key>name_en</key>
		<string>Liechtenstein</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>LT</string>
		<key>dialCode</key>
		<string>+370</string>
		<key>name_ar</key>
		<string>لتوانيا</string>
		<key>name_en</key>
		<string>Lithuania</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>LU</string>
		<key>dialCode</key>
		<string>+352</string>
		<key>name_ar</key>
		<string>لوكسمبورغ</string>
		<key>name_en</key>
		<string>Luxembourg</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MO</string>
		<key>dialCode</key>
		<string>+853</string>
		<key>name_ar</key>
		<string>ماكاو</string>
		<key>name_en</key>
		<string>Macao</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MK</string>
		<key>dialCode</key>
		<string>+389</string>
		<key>name_ar</key>
		<string>مقدونيا</string>
		<key>name_en</key>
		<string>Macedonia, The Former Yugoslav Republic of</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MG</string>
		<key>dialCode</key>
		<string>+261</string>
		<key>name_ar</key>
		<string>مدغشقر</string>
		<key>name_en</key>
		<string>Madagascar</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MW</string>
		<key>dialCode</key>
		<string>+265</string>
		<key>name_ar</key>
		<string>مالاوي</string>
		<key>name_en</key>
		<string>Malawi</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MY</string>
		<key>dialCode</key>
		<string>+60</string>
		<key>name_ar</key>
		<string>ماليزيا</string>
		<key>name_en</key>
		<string>Malaysia</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MV</string>
		<key>dialCode</key>
		<string>+960</string>
		<key>name_ar</key>
		<string>المالديف</string>
		<key>name_en</key>
		<string>Maldives</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MP</string>
		<key>dialCode</key>
		<string>+1 670</string>
		<key>name_ar</key>
		<string>مالي</string>
		<key>name_en</key>
		<string>Northern Mariana Islands</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MT</string>
		<key>dialCode</key>
		<string>+356</string>
		<key>name_ar</key>
		<string>مالطا</string>
		<key>name_en</key>
		<string>Malta</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MH</string>
		<key>dialCode</key>
		<string>+692</string>
		<key>name_ar</key>
		<string>جزر مارشال</string>
		<key>name_en</key>
		<string>Marshall Islands</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MQ</string>
		<key>dialCode</key>
		<string>+596</string>
		<key>name_ar</key>
		<string>مارتينيك</string>
		<key>name_en</key>
		<string>Martinique</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MR</string>
		<key>dialCode</key>
		<string>+222</string>
		<key>name_ar</key>
		<string>موريتانيا</string>
		<key>name_en</key>
		<string>Mauritania</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MU</string>
		<key>dialCode</key>
		<string>+230</string>
		<key>name_ar</key>
		<string>موريشيوس</string>
		<key>name_en</key>
		<string>Mauritius</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MX</string>
		<key>dialCode</key>
		<string>+52</string>
		<key>name_ar</key>
		<string>المكسيك</string>
		<key>name_en</key>
		<string>Mexico</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>FM</string>
		<key>dialCode</key>
		<string>+691</string>
		<key>name_ar</key>
		<string>مايكرونيزيا</string>
		<key>name_en</key>
		<string>Micronesia, Federated States of</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MD</string>
		<key>dialCode</key>
		<string>+373</string>
		<key>name_ar</key>
		<string>مولدافيا</string>
		<key>name_en</key>
		<string>Moldova, Republic of</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MC</string>
		<key>dialCode</key>
		<string>+377</string>
		<key>name_ar</key>
		<string>موناكو</string>
		<key>name_en</key>
		<string>Monaco</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MN</string>
		<key>dialCode</key>
		<string>+976</string>
		<key>name_ar</key>
		<string>منغوليا</string>
		<key>name_en</key>
		<string>Mongolia</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>ME</string>
		<key>dialCode</key>
		<string>+382</string>
		<key>name_ar</key>
		<string>الجبل الأسو</string>
		<key>name_en</key>
		<string>Montenegro</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MS</string>
		<key>dialCode</key>
		<string>+1664</string>
		<key>name_ar</key>
		<string>مونتسيرات</string>
		<key>name_en</key>
		<string>Montserrat</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MA</string>
		<key>dialCode</key>
		<string>+212</string>
		<key>name_ar</key>
		<string>المغرب</string>
		<key>name_en</key>
		<string>Morocco</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MZ</string>
		<key>dialCode</key>
		<string>+258</string>
		<key>name_ar</key>
		<string>موزمبيق</string>
		<key>name_en</key>
		<string>Mozambique</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MM</string>
		<key>dialCode</key>
		<string>+95</string>
		<key>name_ar</key>
		<string>ميانمار</string>
		<key>name_en</key>
		<string>Myanmar</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>NA</string>
		<key>dialCode</key>
		<string>+264</string>
		<key>name_ar</key>
		<string>ناميبيا</string>
		<key>name_en</key>
		<string>Namibia</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>NR</string>
		<key>dialCode</key>
		<string>+674</string>
		<key>name_ar</key>
		<string>نورو</string>
		<key>name_en</key>
		<string>Nauru</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>NP</string>
		<key>dialCode</key>
		<string>+977</string>
		<key>name_ar</key>
		<string>نيبال</string>
		<key>name_en</key>
		<string>Nepal</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>NL</string>
		<key>dialCode</key>
		<string>+31</string>
		<key>name_ar</key>
		<string>هولندا</string>
		<key>name_en</key>
		<string>Netherlands</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>AN</string>
		<key>dialCode</key>
		<string>+599</string>
		<key>name_ar</key>
		<string>جزر الأنتيل الهولندي</string>
		<key>name_en</key>
		<string>Netherlands Antilles</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>NC</string>
		<key>dialCode</key>
		<string>+687</string>
		<key>name_ar</key>
		<string>كاليدونيا الجديدة</string>
		<key>name_en</key>
		<string>New Caledonia</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>NZ</string>
		<key>dialCode</key>
		<string>+64</string>
		<key>name_ar</key>
		<string>نيوزيلندا</string>
		<key>name_en</key>
		<string>New Zealand</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>NI</string>
		<key>dialCode</key>
		<string>+505</string>
		<key>name_ar</key>
		<string>نيكاراجوا</string>
		<key>name_en</key>
		<string>Nicaragua</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>NE</string>
		<key>dialCode</key>
		<string>+227</string>
		<key>name_ar</key>
		<string>النيجر</string>
		<key>name_en</key>
		<string>Niger</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>NG</string>
		<key>dialCode</key>
		<string>+234</string>
		<key>name_ar</key>
		<string>نيجيريا</string>
		<key>name_en</key>
		<string>Nigeria</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>ES</string>
		<key>dialCode</key>
		<string>+34</string>
		<key>name_ar</key>
		<string>ني</string>
		<key>name_en</key>
		<string>Spain</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>MP</string>
		<key>dialCode</key>
		<string>+1 670</string>
		<key>name_ar</key>
		<string>جزر ماريانا الشمالية</string>
		<key>name_en</key>
		<string>Northern Mariana Islands</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>NO</string>
		<key>dialCode</key>
		<string>+47</string>
		<key>name_ar</key>
		<string>النرويج</string>
		<key>name_en</key>
		<string>Norway</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>OM</string>
		<key>dialCode</key>
		<string>+968</string>
		<key>name_ar</key>
		<string>عُمان</string>
		<key>name_en</key>
		<string>Oman</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>PK</string>
		<key>dialCode</key>
		<string>+92</string>
		<key>name_ar</key>
		<string>باكستان</string>
		<key>name_en</key>
		<string>Pakistan</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>PW</string>
		<key>dialCode</key>
		<string>+680</string>
		<key>name_ar</key>
		<string>بالاو</string>
		<key>name_en</key>
		<string>Palau</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>PS</string>
		<key>dialCode</key>
		<string>+970</string>
		<key>name_ar</key>
		<string>فلسطين</string>
		<key>name_en</key>
		<string>Palestinian Territory, Occupied</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>PA</string>
		<key>dialCode</key>
		<string>+507</string>
		<key>name_ar</key>
		<string>بنما</string>
		<key>name_en</key>
		<string>Panama</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>PG</string>
		<key>dialCode</key>
		<string>+675</string>
		<key>name_ar</key>
		<string>بابوا غينيا الجديدة</string>
		<key>name_en</key>
		<string>Papua New Guinea</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>PY</string>
		<key>dialCode</key>
		<string>+595</string>
		<key>name_ar</key>
		<string>باراغواي</string>
		<key>name_en</key>
		<string>Paraguay</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>PE</string>
		<key>dialCode</key>
		<string>+51</string>
		<key>name_ar</key>
		<string>بيرو</string>
		<key>name_en</key>
		<string>Peru</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>PH</string>
		<key>dialCode</key>
		<string>+63</string>
		<key>name_ar</key>
		<string>الفليبين</string>
		<key>name_en</key>
		<string>Philippines</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>PL</string>
		<key>dialCode</key>
		<string>+48</string>
		<key>name_ar</key>
		<string>بولونيا</string>
		<key>name_en</key>
		<string>Poland</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>PT</string>
		<key>dialCode</key>
		<string>+351</string>
		<key>name_ar</key>
		<string>البرتغال</string>
		<key>name_en</key>
		<string>Portugal</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>PR</string>
		<key>dialCode</key>
		<string>+1 939</string>
		<key>name_ar</key>
		<string>بورتو ريكو</string>
		<key>name_en</key>
		<string>Puerto Rico</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>QA</string>
		<key>dialCode</key>
		<string>+974</string>
		<key>name_ar</key>
		<string>قطر</string>
		<key>name_en</key>
		<string>Qatar</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>RE</string>
		<key>dialCode</key>
		<string>+262</string>
		<key>name_ar</key>
		<string>ريونيون</string>
		<key>name_en</key>
		<string>Reunion</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>RO</string>
		<key>dialCode</key>
		<string>+40</string>
		<key>name_ar</key>
		<string>رومانيا</string>
		<key>name_en</key>
		<string>Romania</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>RU</string>
		<key>dialCode</key>
		<string>+7</string>
		<key>name_ar</key>
		<string>روسيا</string>
		<key>name_en</key>
		<string>Russian Federation</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>RW</string>
		<key>dialCode</key>
		<string>+250</string>
		<key>name_ar</key>
		<string>رواندا</string>
		<key>name_en</key>
		<string>RWANDA</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>KN</string>
		<key>dialCode</key>
		<string>+1 869</string>
		<key>name_ar</key>
		<string>سانت كيتس ونيفس</string>
		<key>name_en</key>
		<string>Saint Kitts and Nevis</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>LC</string>
		<key>dialCode</key>
		<string>+1 758</string>
		<key>name_ar</key>
		<string>سانت لوسيا</string>
		<key>name_en</key>
		<string>Saint Lucia</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>VC</string>
		<key>dialCode</key>
		<string>+1 784</string>
		<key>name_ar</key>
		<string>سانت فنسنت وجزر غرينادين</string>
		<key>name_en</key>
		<string>Saint Vincent and the Grenadines</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>TF</string>
		<key>dialCode</key>
		<string>undefined</string>
		<key>name_ar</key>
		<string>المناطق</string>
		<key>name_en</key>
		<string>French Southern Territories</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>SM</string>
		<key>dialCode</key>
		<string>+378</string>
		<key>name_ar</key>
		<string>سان مارينو</string>
		<key>name_en</key>
		<string>San Marino</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>ST</string>
		<key>dialCode</key>
		<string>+239</string>
		<key>name_ar</key>
		<string>ساو تومي وبرينسيبي</string>
		<key>name_en</key>
		<string>Sao Tome and Principe</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>SA</string>
		<key>dialCode</key>
		<string>+966</string>
		<key>name_ar</key>
		<string>المملكة العربية السعودية</string>
		<key>name_en</key>
		<string>Saudi Arabia</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>SN</string>
		<key>dialCode</key>
		<string>+221</string>
		<key>name_ar</key>
		<string>السنغال</string>
		<key>name_en</key>
		<string>Senegal</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>RS</string>
		<key>dialCode</key>
		<string>+381</string>
		<key>name_ar</key>
		<string>جمهورية صربيا</string>
		<key>name_en</key>
		<string>Serbia</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>SC</string>
		<key>dialCode</key>
		<string>+248</string>
		<key>name_ar</key>
		<string>سيشيل</string>
		<key>name_en</key>
		<string>Seychelles</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>SL</string>
		<key>dialCode</key>
		<string>+232</string>
		<key>name_ar</key>
		<string>سيراليون</string>
		<key>name_en</key>
		<string>Sierra Leone</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>SG</string>
		<key>dialCode</key>
		<string>+65</string>
		<key>name_ar</key>
		<string>سنغافورة</string>
		<key>name_en</key>
		<string>Singapore</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>SK</string>
		<key>dialCode</key>
		<string>+421</string>
		<key>name_ar</key>
		<string>سلوفاكيا</string>
		<key>name_en</key>
		<string>Slovakia</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>SI</string>
		<key>dialCode</key>
		<string>+386</string>
		<key>name_ar</key>
		<string>سلوفينيا</string>
		<key>name_en</key>
		<string>Slovenia</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>SB</string>
		<key>dialCode</key>
		<string>+677</string>
		<key>name_ar</key>
		<string>جزر سليمان</string>
		<key>name_en</key>
		<string>Solomon Islands</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>SO</string>
		<key>dialCode</key>
		<string>+252</string>
		<key>name_ar</key>
		<string>الصومال</string>
		<key>name_en</key>
		<string>Somalia</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>ZA</string>
		<key>dialCode</key>
		<string>+27</string>
		<key>name_ar</key>
		<string>جنوب أفريقيا</string>
		<key>name_en</key>
		<string>South Africa</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>ES</string>
		<key>dialCode</key>
		<string>+34</string>
		<key>name_ar</key>
		<string>إسبانيا</string>
		<key>name_en</key>
		<string>Spain</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>LK</string>
		<key>dialCode</key>
		<string>+94</string>
		<key>name_ar</key>
		<string>سريلانكا</string>
		<key>name_en</key>
		<string>Sri Lanka</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>SD</string>
		<key>dialCode</key>
		<string>+249</string>
		<key>name_ar</key>
		<string>السودان</string>
		<key>name_en</key>
		<string>Sudan</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>SR</string>
		<key>dialCode</key>
		<string>+597</string>
		<key>name_ar</key>
		<string>سورينام</string>
		<key>name_en</key>
		<string>Suriname</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>SZ</string>
		<key>dialCode</key>
		<string>+268</string>
		<key>name_ar</key>
		<string>سوازيلند</string>
		<key>name_en</key>
		<string>Swaziland</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>SE</string>
		<key>dialCode</key>
		<string>+46</string>
		<key>name_ar</key>
		<string>السويد</string>
		<key>name_en</key>
		<string>Sweden</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>CH</string>
		<key>dialCode</key>
		<string>+41</string>
		<key>name_ar</key>
		<string>سويسرا</string>
		<key>name_en</key>
		<string>Switzerland</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>SY</string>
		<key>dialCode</key>
		<string>+963</string>
		<key>name_ar</key>
		<string>سوريا</string>
		<key>name_en</key>
		<string>Syrian Arab Republic</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>TW</string>
		<key>dialCode</key>
		<string>+886</string>
		<key>name_ar</key>
		<string>تايوان</string>
		<key>name_en</key>
		<string>Taiwan, Province of China</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>TJ</string>
		<key>dialCode</key>
		<string>+992</string>
		<key>name_ar</key>
		<string>طاجيكستان</string>
		<key>name_en</key>
		<string>Tajikistan</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>TZ</string>
		<key>dialCode</key>
		<string>+255</string>
		<key>name_ar</key>
		<string>تنزانيا</string>
		<key>name_en</key>
		<string>Tanzania, United Republic of</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>TH</string>
		<key>dialCode</key>
		<string>+66</string>
		<key>name_ar</key>
		<string>تايلندا</string>
		<key>name_en</key>
		<string>Thailand</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>TL</string>
		<key>dialCode</key>
		<string>+670</string>
		<key>name_ar</key>
		<string>تيمور الشرقية</string>
		<key>name_en</key>
		<string>Timor-Leste</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>TG</string>
		<key>dialCode</key>
		<string>+228</string>
		<key>name_ar</key>
		<string>توغو</string>
		<key>name_en</key>
		<string>Togo</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>TO</string>
		<key>dialCode</key>
		<string>+676</string>
		<key>name_ar</key>
		<string>تونغا</string>
		<key>name_en</key>
		<string>Tonga</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>TT</string>
		<key>dialCode</key>
		<string>+1 868</string>
		<key>name_ar</key>
		<string>ترينيداد وتوباغو</string>
		<key>name_en</key>
		<string>Trinidad and Tobago</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>TN</string>
		<key>dialCode</key>
		<string>+216</string>
		<key>name_ar</key>
		<string>تونس</string>
		<key>name_en</key>
		<string>Tunisia</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>TR</string>
		<key>dialCode</key>
		<string>+90</string>
		<key>name_ar</key>
		<string>تركيا</string>
		<key>name_en</key>
		<string>Turkey</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>TM</string>
		<key>dialCode</key>
		<string>+993</string>
		<key>name_ar</key>
		<string>تركمانستان</string>
		<key>name_en</key>
		<string>Turkmenistan</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>TV</string>
		<key>dialCode</key>
		<string>+688</string>
		<key>name_ar</key>
		<string>توفالو</string>
		<key>name_en</key>
		<string>Tuvalu</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>UG</string>
		<key>dialCode</key>
		<string>+256</string>
		<key>name_ar</key>
		<string>أوغندا</string>
		<key>name_en</key>
		<string>Uganda</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>UA</string>
		<key>dialCode</key>
		<string>+380</string>
		<key>name_ar</key>
		<string>أوكرانيا</string>
		<key>name_en</key>
		<string>Ukraine</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>AE</string>
		<key>dialCode</key>
		<string>+971</string>
		<key>name_ar</key>
		<string>الإمارات العرب</string>
		<key>name_en</key>
		<string>United Arab Emirates</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>GB</string>
		<key>dialCode</key>
		<string>+44</string>
		<key>name_ar</key>
		<string>المملكة المتحدة</string>
		<key>name_en</key>
		<string>United Kingdom</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>US</string>
		<key>dialCode</key>
		<string>+1</string>
		<key>name_ar</key>
		<string>الولايات المتحدة</string>
		<key>name_en</key>
		<string>United States</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>UY</string>
		<key>dialCode</key>
		<string>+598</string>
		<key>name_ar</key>
		<string>أورغواي</string>
		<key>name_en</key>
		<string>Uruguay</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>PK</string>
		<key>dialCode</key>
		<string>+92</string>
		<key>name_ar</key>
		<string>أوزباكستان</string>
		<key>name_en</key>
		<string>Pakistan</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>VU</string>
		<key>dialCode</key>
		<string>+678</string>
		<key>name_ar</key>
		<string>فانواتو</string>
		<key>name_en</key>
		<string>Vanuatu</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>VA</string>
		<key>dialCode</key>
		<string>+379</string>
		<key>name_ar</key>
		<string>الفاتيكان</string>
		<key>name_en</key>
		<string>Holy See (Vatican City State)</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>VE</string>
		<key>dialCode</key>
		<string>+58</string>
		<key>name_ar</key>
		<string>فنزويلا</string>
		<key>name_en</key>
		<string>Venezuela</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>VN</string>
		<key>dialCode</key>
		<string>+84</string>
		<key>name_ar</key>
		<string>فيتنام</string>
		<key>name_en</key>
		<string>Viet Nam</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>VG</string>
		<key>dialCode</key>
		<string>+1 284</string>
		<key>name_ar</key>
		<string>الجزر العذراء البريطانية</string>
		<key>name_en</key>
		<string>Virgin Islands, British</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>VI</string>
		<key>dialCode</key>
		<string>+1 340</string>
		<key>name_ar</key>
		<string>الجزر العذراء الأمريكي</string>
		<key>name_en</key>
		<string>Virgin Islands, U.S.</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>WF</string>
		<key>dialCode</key>
		<string>+681</string>
		<key>name_ar</key>
		<string>والس وفوتونا</string>
		<key>name_en</key>
		<string>Wallis and Futuna</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>EH</string>
		<key>dialCode</key>
		<string>undefined</string>
		<key>name_ar</key>
		<string>الصحراء الغربية</string>
		<key>name_en</key>
		<string>Western Sahara</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>YE</string>
		<key>dialCode</key>
		<string>+967</string>
		<key>name_ar</key>
		<string>اليمن</string>
		<key>name_en</key>
		<string>Yemen</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>ZM</string>
		<key>dialCode</key>
		<string>+260</string>
		<key>name_ar</key>
		<string>زامبيا</string>
		<key>name_en</key>
		<string>Zambia</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>ZW</string>
		<key>dialCode</key>
		<string>+263</string>
		<key>name_ar</key>
		<string>زمبابوي</string>
		<key>name_en</key>
		<string>Zimbabwe</string>
	</dict>
	<dict>
		<key>isoCode</key>
		<string>IL</string>
		<key>dialCode</key>
		<string>+972</string>
		<key>name_ar</key>
		<string>اسرائيل</string>
		<key>name_en</key>
		<string>Israel</string>
	</dict>
</array>
</plist>
